body
  font-family: $font-family-base
  background-color: $body-bg

.header
  background-color: $header-bg-color

.logo
  float: left
  display: table
  width: 250px
  height: inherit
  background-color: $logo-bg
  font-size: $font-size-large
  color: $logo-color
  font-weight: 300

.logo-text
  display: table-cell
  width: inherit
  padding-left: 16px
  vertical-align: middle

.navbar-header
  display: table
  height: inherit
  padding-right: 20px
  & .fa
    font-size: 20px

.nav
  display: table-cell
  vertical-align: middle
  margin: 0
  & > li
    list-style: none

.nav-rounded
  & > li
    position: relative
    +inline-block()
    margin: 0 2px
    &:last-child
      margin-right: 0
    &.notice::before
      content: ''
      position: absolute
      top: 0
      right: -2px
      +border-radius (50%)
      +box-shadow (-2px 1px 0px #D7DDE4)
      float: right
      width: 8px
      height: 8px
      background-color: #ff5722
      z-index: 3
    & > a
      +inline-block()
      padding: 6px 8px
      background-color: #d7d7d7
      +border-radius(50%)
      text-align: center
      color: #7e8e9f

.sidebar-header
  background-color: $sidebar-header-bg
  +border-top-radius(0)

  & .panel-title
    color: $sidebar-color

.sidebar
  width: 250px
  height: 100%
  background-color: $sidebar-bg
  overflow: auto

  & .tree-indent
    width: 10px

  & .tree-title
    width: auto

  & .tree-node
    height: 100%
    padding: $padding-large-vertical $padding-base-horizontal

  & .tree-node-hover
    background-color: $sidebar-hover-bg

    & .tree-title
      color: $sidebar-hover-color

  & .tree-icon
    color: #ECECE9

  & .tree-node-selected
    background-color: $sidebar-selected-bg

    & .tree-expanded,
    & .tree-collapsed
      &::before
        color: #424344

    & .tree-title
      color: #79828B

    & .tree-icon
      color: #79828B

  & .tree-title
    +inline-block()
    width: 80%
    height: 100%
    line-height: inherit
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-size: $font-size-base
    font-weight: 300
    color: $sidebar-color

  & .tree-expanded
    float: right
    width: 18px
    display: table
    text-align: center
    background: none

    &::before
      +font-icons(FontAwesome, '\f107', inherit, #ECECE9)
      display: table-cell
      width: 18px
      height: 18px
      vertical-align: middle
      +transition (color 0.28s ease-in)

    &:hover::before
      +font-icons(FontAwesome, '\f107', inherit, #79828B)
      +border-radius (50%)
      background-color: #ECECE9
      +transition (color 0.28s ease-out)

  & .tree-collapsed
    float: right
    width: 18px
    display: table
    text-align: center
    background: none

    &::before
      display: table-cell
      width: 18px
      height: 18px
      vertical-align: middle
      +font-icons(FontAwesome, '\f104', inherit, #ECECE9)
      +transition (color 0.28s ease-in)

    &:hover::before
      +font-icons(FontAwesome, '\f104', inherit, #79828B)
      +border-radius (50%)
      background-color: #ECECE9
      +transition (color 0.28s ease-out)

.sidebar-nav
  & ul
    background: rgb(8, 13, 21)

.jumbotron
  display: table
  width: 100%
  height: 100%
  font-size: 40px
  color: #B0B0B0
  text-align: center
  &::before
    content: '欢迎使用黔驰UI框架'
    display: table-cell
    width: 100%
    vertical-align: middle
    +text-shadow(0 1px 1px #fff)
  &::after
    position: absolute
    bottom: 10px
    left: 0
    display: table-cell
    width: 100%
    vertical-align: middle
    content: '设计单位：贵州黔驰信息股份有限公司'
    font-size: 12px

.datagrid
  & .panel-body
    padding: 0

.toolbar
  +inline-block()
  width: 100%
  padding: $padding-large-vertical $padding-large-horizontal
  background-color: #fff

.text-center
  text-align: center

.bg-white
  background-color: $panel-login-bg

.pr-10
  padding-right: 10px

.mb-5
  margin-bottom: 5px

.mb-10
  margin-bottom: 10px

.mr-10
  margin-right: 11px

.panel-header-rounded
  +border-bottom-radius(2px)

.panel-icon
  color: #79828B

  &.fa
    font-size: 13px

.schedule-tool
  position: relative
  top: -13px
  right: -9px
  height: 36px
  padding: 10px
  border-right: 1px solid #086F65
  background-color: #064A44
  color: #7E8E9F
  vertical-align: middle
  +transition(color, 0.28s, ease-out)
  &:last-child
    +border-top-right-radius(2px)
    border-right: 0
  &:hover
    color: #fff
    +transition(color, 0.28s, ease-in)

.display-date
  +inline-block()
  height: 37px
  margin-right: 30px
  color: #fff
  font-weight: 300
