/*------------------------------------*
    #COLORS
/*------------------------------------*


[class*="color-"]
  font-size: $font-size-base
  padding: $padding-base-vertical $padding-base-horizontal
  color: #fff

.color-picker-default
  background-color: $brand-default

.color-picker-primary
  background-color: $brand-primary

.color-picker-info
  background-color: $brand-info

.color-picker-success
  background-color: $brand-success

.color-picker-warning
  background-color: $brand-warning

.color-picker-danger
  background-color: $brand-danger



