/*------------------------------------*
    #SIDEBAR
/*------------------------------------*


.sidebar
  width: 250px
  height: 100%
  & .tree-indent
    float: left
    width: 10px
  & .tree-node
    height: 100%
    padding: $padding-large-vertical $padding-base-horizontal
  & .tree-icon
    font-size: 12px
    & .tree-expanded,
    & .tree-collapsed
      &::before
        color: #424344
  & .tree-title
    width: 80%
    height: 100%
    margin-left: 3px
    overflow: hidden
    text-overflow: ellipsis
    vertical-align: -webkit-baseline-middle
  & .tree-expanded
    display: table
    float: right
    width: 18px
    margin-top: 3px
    text-align: center
    background: none
    &::before
      +font-icons(FontAwesome, '\f107', inherit, #616161)
      display: table-cell
      width: 18px
      height: 18px
      vertical-align: middle
      +transition (color 0.28s ease-in)
    &:hover::before
      +font-icons(FontAwesome, '\f107', inherit, #fff)
      +border-radius (50%)
      background-color: #616161
      +transition (color 0.28s ease-out)
  & .tree-collapsed
    float: right
    width: 18px
    display: table
    text-align: center
    background: none
    &::before
      display: table-cell
      width: 18px
      height: 18px
      vertical-align: middle
      +font-icons(FontAwesome, '\f104', inherit, #616161)
      +transition (color 0.28s ease-in)
    &:hover::before
      +font-icons(FontAwesome, '\f104', inherit, #fff)
      +border-radius (50%)
      background-color: #616161
      +transition (color 0.28s ease-out)

.sidebar
  & .tree-node-selected
    position: relative
    &::after
      content: ''
      position: absolute
      top: 0
      right: 0
      height: 100%
      border-right: 2px solid $brand-success
