-@title= 'Colors | Admin Page '
-@page_classes= 'colors'

.container
  .col-3.color-picker-default
    %code
      Default Color
  .col-3.color-picker-primary
    %code
      Primary Color
  .col-3.color-picker-info
    %code
      Info Color
  .col-3.col-last.color-picker-success
    %code
      Success Color
  .col-12.mb-10
  .col-3.color-picker-warning
    %code
      Warning Color
  .col-3.color-picker-danger
    %code
      Danger Color
