-@title= 'Colors | Admin Page '
-@page_classes= 'colors'

.easyui-layout{fit:'true'}
  .easyui-panel{title:'Colors Live Example', 'data-options' => "region:'center', iconCls:'fa fa-eyedropper', cls:'panel-info'"}
    .container
      .col-3.color-picker-default
        %code #777
      .col-3.color-picker-primary
        %code #5479aa
      .col-3.color-picker-info
        %code #75b045
      .col-3.col-last.color-picker-success
        %code #53a6a6
      .col-12.mb-10
      .col-3.color-picker-warning
        %code #edb758
      .col-3.color-picker-danger
        %code #bd5151
