-@title= 'Datagrid and Form | Admin Page '
-@page_classes= 'datagrid easyui-layout'

.easyui-layout{fit:'true'}
  %div.easyui-panel{'data-options':"region:'west', title:'Form', cls:'panel-default pr-10', split:false, iconCls:'fa fa-file-text', width:450, border:false, collapsible:false"}
    %form
      .form-group
        %label Product
        %input.easyui-textbox{'data-options':"prompt:'Product', width:400, height:34, type: 'text'"}
      .form-group.mb-10
        %label Price
        %input.easyui-textbox{'data-options':"prompt:'Price', width:400, height:34, type: 'text'"}
      %button.easyui-linkbutton.l-btn-success{type: 'submit'} Add
  %div.easyui-panel{'data-options':"region:'center', border:false"}
    %table.easyui-datagrid.datagrid-bg#dg{'data-options':"title:'Data Grid', iconCls:'fa fa-database', cls:'panel-default', fit:true, singleSelect:true, striped:true, fitColumns:true, collapsible:true, rownumbers: true, border: false, pagination:true, sortName:'itemid', sortOrder:'asc', url:'assets/javascripts/json/datagridData/demoDatagridData.json',method:'get'"}
      %thead
        %tr
          %th{'data-options':"field:'itemid', sortable:'true', width:80"} Item ID
          %th{'data-options':"field:'productid',width:100"} Product
          %th{'data-options':"field:'listprice',width:80,align:'right'"} List Price
          %th{'data-options':"field:'unitcost',width:80,align:'right'"} Unit Cost
          %th{'data-options':"field:'attr1',width:250"} Attribute
          %th{'data-options':"field:'status',width:60,align:'center'"} Status
