-@title= 'Datagrid | Admin Page '
-@page_classes= 'datagrid easyui-layout'

.easyui-layout{fit:'true'}
  %div.easyui-panel{'data-options' => "region:'north', height:150, headerCls:'panel-header-primary', bodyCls:'panel-body-default', split:false, title:'Toolbar', collapsible:false, iconCls:'fa fa-cog'"}
    %form.form-inline
      .col-12.mb-10
        .form-group
          %label Date From:
          %input.form-control.easyui-datebox{'data-options'=>'height:32'}
        .form-group
          %label To:
          %input.form-control.easyui-datebox{'data-options'=>'height:32'}
        .form-group
          %label Language:
          %select.form-control.easyui-combobox{'data-options'=>"width:'180', height:'32'", panelheight: 'auto'}
            %option{value: 'java'} Java
            %option{value: 'c'} C
            %option{value: 'basic'} Basic
            %option{value: 'perl'} Perl
            %option{value: 'python'} Python
        =link_to 'Search', 'javascript:void(0)', iconcls: 'fa fa-search', class:'easyui-linkbutton color-default btn-jump'
        =link_to 'Add', 'javascript:void(0)', iconcls: 'fa fa-plus-square', class:'easyui-linkbutton color-default btn-jump btn-dialog', onclick:"$('#dlg-add').dialog('open')"
      .col-12
        .form-group
          %label Date From:
          %input.form-control.easyui-datebox{'data-options'=>'height:32'}
        .form-group
          %label To:
          %input.form-control.easyui-datebox{'data-options'=>'height:32'}
        .form-group
          %label Language:
          %select.form-control.easyui-combobox{'data-options'=>"width:'180', height:'32'", panelheight: 'auto'}
            %option{value: 'java'} Java
            %option{value: 'c'} C
            %option{value: 'basic'} Basic
            %option{value: 'perl'} Perl
            %option{value: 'python'} Python
        =link_to 'Search', 'javascript:void(0)', iconcls: 'fa fa-search', class:'easyui-linkbutton color-default btn-jump'
        =link_to 'Add', 'javascript:void(0)', iconcls: 'fa fa-plus-square', class:'easyui-linkbutton color-default btn-jump btn-dialog', onclick:"$('#dlg-add').dialog('open')"

  %div.easyui-panel{'data-options' => "region:'center', headerCls:'panel-header-primary', title:'Data Grid', iconCls:'fa fa-database', collapsible:false"}
    %table.easyui-datagrid.datagrid-bg{'data-options' => "singleSelect:true, striped:true, fitColumns:true, fit:true, collapsible:true, rownumbers: true, border:false, pagination:true, sortOrder:'asc', url:'assets/javascripts/json/datagridData/demoDatagridData.json',method:'get'"}
      %thead
        %tr
          %th{'data-options' => "field:'ck', checkbox:'true'"}
          %th{'data-options' => "field:'itemid', sortable:'true', width:80"} Item ID
          %th{'data-options' => "field:'productid', sortable:'true', width:100"} Product
          %th{'data-options' => "field:'listprice', sortable:'true', width:80"} List Price
          %th{'data-options' => "field:'unitcost', sortable:'true', width:80"} Unit Cost
          %th{'data-options' => "field:'attr1', sortable:'true', width:250"} Attribute
          %th{'data-options' => "field:'status', sortable:'true', width:60"} Status
  .easyui-dialog#dlg-add{'data-options'=>"iconCls:'fa fa-plus-square', modal:true, closed: true, width:500, height:250", title:'Add new rows'}
    %form
      .form-group
        %label Product ID
        %input.form-control{placeholder: 'Product ID', type: 'text'}
      .form-group
        %label Status
        %input.form-control{placeholder: 'Status', type: 'text'}
      .form-group
        %a.easyui-linkbutton.btn-jump.color-default{href: 'javascript:void(0)', iconCls: 'fa fa-check-circle-o', onclick: 'saveUser()'} Save
        %a.easyui-linkbutton.btn-jump.btn-dialog-close.color-warning{href: 'javascript:void(0)', iconCls: 'fa fa-times-circle', onclick: "$('#dlg-add').dialog('close')"} Cancel
