-@title= 'Datagrid | Admin Page '
-@page_classes= 'datagrid easyui-layout'


.container
  .toolbar#tb
    %form.form-horizontal{action:''}
      .form-control
        %label Date From:
        %input.easyui-datebox{'data-options'=>'height:32'}
      .form-control
        %label To:
        %input.easyui-datebox{'data-options'=>'height:32'}
      .form-control
        %label Language:
        %select.easyui-combobox{'data-options'=>"width:'180', height:'32'", panelheight: 'auto'}
          %option{:value => 'java'} Java
          %option{:value => 'c'} C
          %option{:value => 'basic'} Basic
          %option{:value => 'perl'} Perl
          %option{:value => 'python'} Python
      .form-control
        =link_to 'Search', 'javascript:void(0)', iconcls: 'fa fa-search', class:'easyui-linkbutton btn-jump', 'data-options'=>"height:'32'"
        =link_to 'Add', 'javascript:void(0)', iconcls: 'fa fa-plus-square', class:'easyui-linkbutton btn-jump btn-dialog', onclick:"$('#dlg-add').dialog('open')", 'data-options'=>"height:'32'"
  %table.easyui-datagrid.datagrid-bg#dg{'data-options' => "singleSelect:true, striped:true, fitColumns:true, collapsible:true, rownumbers: true, border:false, toolbar : '#tb', pagination:true, sortName:'itemid', sortOrder:'asc', url:'assets/javascripts/json/datagridData/demoDatagridData.json',method:'get'", style:'height:492px'}
    %thead
      %tr
        %th{'data-options' => "field:'itemid', sortable:'true', width:80"} Item ID
        %th{'data-options' => "field:'productid',width:100"} Product
        %th{'data-options' => "field:'listprice',width:80,align:'right'"} List Price
        %th{'data-options' => "field:'unitcost',width:80,align:'right'"} Unit Cost
        %th{'data-options' => "field:'attr1',width:250"} Attribute
        %th{'data-options' => "field:'status',width:60,align:'center'"} Status

.easyui-dialog#dlg-add.passive{'data-options'=>"iconCls:'fa fa-plus-square', modal:true, closed: true, width:500, height:300", title:'Add new rows'}
  %form.form-vertical{action:''}
    .form-control
      %label First Name:
      %input.easyui-textbox{name: 'firstname', 'data-options'=>'width:250, height:32'}
    .form-control
      %label Last Name:
      %input.easyui-textbox{name: 'lastname', 'data-options'=>'width:250, height:32'}
    .form-control
      %label Phone:
      %input.easyui-textbox{name: 'phone', 'data-options'=>'width:250, height:32'}
    .form-control
      %label Email:
      %input.easyui-textbox{name: 'email', validType: 'email', 'data-options'=>'width:250, height:32'}
  .dialog-button
    %a.easyui-linkbutton.btn-jump{href: 'javascript:void(0)', iconCls: 'fa fa-check-circle-o', onclick: 'saveUser()', 'data-options'=>'height:32'} Save
    %a.easyui-linkbutton.btn-jump.btn-dialog-close{href: 'javascript:void(0)', iconCls: 'fa fa-times-circle', onclick: "$('#dlg-add').dialog('close')", 'data-options'=>'height:32'} Cancel