-@title= 'Datagrid and Form | Admin Page '
-@page_classes= 'datagrid easyui-layout'


.easyui-layout{fit:'true'}
  %div.easyui-panel{'data-options' => "region:'north', iconCls:'fa fa-file-text', split:false, title:'产品信息提交表单', headerCls:'panel-header-rounded panel-header-primary mb-5', height:45, collapsible:false"}
  %div.easyui-panel{'data-options' => "region:'west',title:'Form', cls:'pr-10', split:false, headerCls:'panel-header-default', iconCls:'fa fa-file-text', width:450, border:false, collapsible:false"}
    .panel-bg
      %form.form-vertical{action:''}
        .panel-body
          .form-control
            %label Email:
            %input.easyui-textbox{'data-options' => "prompt:'Enter a email address...',validType:'email'", 'data-options' => 'width:200, height:32'}
          .form-control
            %label First Name:
            %input.easyui-textbox{'data-options' => 'width:200, height:32'}
          .form-control
            %label Last Name:
            %input.easyui-textbox{'data-options' => 'width:200, height:32'}
          .form-control
            %label Company:
            %input.easyui-textbox{'data-options' => 'width:200, height:32'}
        .panel-footer.form-control
          =link_to 'Remove', 'javascript:void(0)', class:'easyui-linkbutton color-danger mr-10 text-center',  iconCls: 'fa fa-plus-circle', 'data-options' => 'width:196'
          =link_to 'Add', 'javascript:void(0)', class:'easyui-linkbutton text-center color-primary',  iconCls: 'fa fa-times-circle', 'data-options' => 'width:196'
  %div.easyui-panel{'data-options' => "region:'center', border:false, headerCls:'panel-header-default', title:'Data Grid', iconCls:'fa fa-database'"}
    %table.easyui-datagrid.datagrid-bg#dg{'data-options' => "fit:true, singleSelect:true, striped:true, fitColumns:true, collapsible:true, rownumbers: true, border: false, pagination:true, sortName:'itemid', sortOrder:'asc', url:'assets/javascripts/json/datagridData/demoDatagridData.json',method:'get'"}
      %thead
        %tr
          %th{'data-options' => "field:'itemid', sortable:'true', width:80"} Item ID
          %th{'data-options' => "field:'productid',width:100"} Product
          %th{'data-options' => "field:'listprice',width:80,align:'right'"} List Price
          %th{'data-options' => "field:'unitcost',width:80,align:'right'"} Unit Cost
          %th{'data-options' => "field:'attr1',width:250"} Attribute
          %th{'data-options' => "field:'status',width:60,align:'center'"} Status

