-@title= 'Datagrid and Form | Admin Page '
-@page_classes= 'datagrid easyui-layout'


.easyui-layout.panel-layout{fit:'true'}
  %div.easyui-panel{'data-options' => "region:'north', iconCls:'fa fa-file-text', split:false, title:'产品信息提交表单', headerCls:'panel-header-rounded panel-header-primary mb-5', height:45, collapsible:false"}
  %div.easyui-panel{'data-options' => "region:'west',title:'Form', cls:'pr-10', split:false, headerCls:'panel-header-default', iconCls:'fa fa-file-text', width:450, border:false, collapsible:false"}
    .panel-body-default.col-12
      %form
        .form-group
          %label Product
          %input.form-control{placeholder: 'Enter Product ID', type: 'text'}
        .form-group
          %label Status
          %input.form-control{placeholder: 'Enter Status', type: 'text'}
        %button.easyui-linkbutton.color-primary{type: 'submit'} Add
        %button.easyui-linkbutton.color-danger{type: 'submit'} Remove

  %div.easyui-panel{'data-options' => "region:'center', border:false, headerCls:'panel-header-default', title:'Data Grid', iconCls:'fa fa-database'"}
    %table.easyui-datagrid.datagrid-bg{'data-options' => "fit:true, singleSelect:true, striped:true, fitColumns:true, collapsible:true, rownumbers: true, border: false, pagination:true, sortName:'itemid', sortOrder:'asc', url:'assets/javascripts/json/datagridData/demoDatagridData.json',method:'get'"}
      %thead
        %tr
          %th{'data-options' => "field:'itemid', sortable:'true', width:80"} Item ID
          %th{'data-options' => "field:'productid', sortable:'true', width:100"} Product
          %th{'data-options' => "field:'listprice', sortable:'true', width:100"} List Price
          %th{'data-options' => "field:'unitcost', sortable:'true', width:100"} Unit Cost
          %th{'data-options' => "field:'attr1', sortable:'true', width:220"} Attribute
          %th{'data-options' => "field:'status', sortable:'true', width:100"} Status

