-@title= 'Datagrid and Form | Admin Page '
-@page_classes= 'datagrid easyui-layout'

.container
  .col-4
    .panel.panel-default
      .panel-header
        %h3.panel-title
          Add Product
      .panel-body
        %form
          .form-group
            %label Product
            %input.easyui-textbox{'data-options':"prompt:'Product', width:322, height:34, type: 'text'"}
          .form-group.mb-10
            %label Price
            %input.easyui-textbox{'data-options':"prompt:'Price', width:322, height:34, type: 'text'"}
          %button.easyui-linkbutton.l-btn-success.pull-right{type: 'submit'}
            %i.fa.fa-plus
            Add
  .col-8.col-last
    .panel.panel-primary
      .panel-header
        .panel-icon.fa.fa-database
        .panel-title.panel-with-icon
          Data Grid
      %table.easyui-datagrid{'data-options':"height:640, singleSelect:true, striped:true, fitColumns:true, collapsible:true, rownumbers: true, border: false, pagination:true, sortName:'itemid', sortOrder:'asc', url:'assets/javascripts/json/datagridData/demoDatagridData.json',method:'get'"}
        %thead
          %tr
            %th{'data-options':"field:'ck', checkbox:'true'"}
            %th{'data-options':"field:'itemid', sortable:'true', width:80"} Item ID
            %th{'data-options':"field:'productid', sortable:'true', width:100"} Product
            %th{'data-options':"field:'listprice', sortable:'true', width:80"} List Price
            %th{'data-options':"field:'unitcost', sortable:'true', width:80"} Unit Cost
            %th{'data-options':"field:'attr1', sortable:'true', width:250"} Attribute
            %th{'data-options':"field:'status', sortable:'true', width:60"} Status
