-@title= 'Page Not Found | Admin Page '
-@page_classes= 'page-not-found theme-default'

.container
  .col-4.col-push-4.text-center
    .border-circle
      %i.fa.fa-chain-broken.fa-5x.mt-20
    .text-light
      %h1
        404
      %h1
        Page Not Found
      %p
        Ooops... We can't find this page
    %form
      %input.easyui-searchbox{'data-options':"prompt:'Please Input Value', width: 386, height:34"}
