-@title= 'From | Admin Page '
-@page_classes= 'form'

.easyui-layout{fit:'true'}
  .easyui-panel{title:'Form Live Example', 'data-options' => "region:'center', iconCls:'fa fa-align-justify', headerCls:'panel-header-primary', bodyCls:'panel-body-default', collapsible:false"}
    .container
      %form.form-horizontal{action:''}
        .col-4
          .form-control
            .col-3
              %label Email:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
          .form-control
            .col-3
              %label First Name:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
          .form-control
            .col-3
              %label Last Name:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
          .form-control
            .col-3
              %label Company:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
        .col-4
          .form-control
            .col-3
              %label Email:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
          .form-control
            .col-3
              %label First Name:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
          .form-control
            .col-3
              %label Last Name:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
          .form-control
            .col-3
              %label Company:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
        .col-4.col-last
          .form-control
            .col-3
              %label Email:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
          .form-control
            .col-3
              %label First Name:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
          .form-control
            .col-3
              %label Last Name:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
          .form-control
            .col-3
              %label Company:
            .col-9.col-last
              %input.easyui-textbox{'data-options' => 'width: 205, height:32'}
