-@title= 'Grid | Admin Page '
-@page_classes= 'grid'

.panel.panel-info
  .panel-header
    .panel-title
      Columns 1
  .panel-body
    .debug
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.col-last.mb-10

.panel.panel-info
  .panel-header
    .panel-title
      Columns 8 and 4
  .panel-body
    .debug
      .col-8.mb-20
      .col-4.col-last.mb-20

.panel.panel-info
  .panel-header
    .panel-title
      Columns 4
  .panel-body
    .debug
      .col-4.mb-20
      .col-4.mb-20
      .col-4.col-last.mb-20

.panel.panel-info
  .panel-header
    .panel-title
      Columns 6
  .panel-body
    .debug
      .col-6.mb-30
      .col-6.col-last.mb-30

.panel.panel-info
  .panel-header
    .panel-title
      Columns 4
  .panel-body
    .debug
      .col-4.mb-40
      .col-4.col-push-4.col-last.mb-40

.panel.panel-info
  .panel-header
    .panel-title
      Columns 3
  .panel-body
    .debug
      .col-3.col-push-3.mb-50
      .col-3.col-push-3.col-last.mb-50

.panel.panel-info
  .panel-header
    .panel-title
      Columns 6
  .panel-body
    .debug
      .col-6.col-push-3.mb-10

.panel.panel-info
  .panel-header
    .panel-title
      Columns 12
  .panel-body
    .debug
      .col-12.mb-20

.panel.panel-info
  .panel-header
    .panel-title
      Columns 11
  .panel-body
    .debug
      .col-11.mb-30

.panel.panel-info
  .panel-header
    .panel-title
      Columns 10
  .panel-body
    .debug
      .col-10.mb-40

.panel.panel-info
  .panel-header
    .panel-title
      Columns 5
  .panel-body
    .debug
      .col-5.mb-50

