-@title= 'Grid | Admin Page '
-@page_classes= 'grid'

.easyui-layout{fit:'true'}
  .easyui-panel{title:'Grid System Live Example', 'data-options' => "region:'center', iconCls:'fa fa-align-justify', headerCls:'panel-header-primary', bodyCls:'panel-body-default', collapsible:false"}
    .container.debug
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1.col-last

    .container.debug
      .col-8
      .col-4.col-last

    .container.debug
      .col-4
      .col-4
      .col-4

    .container.debug
      .col-6
      .col-6.col-last

    .container.debug
      .col-4
      .col-4.col-push-4.col-last

    .container.debug
      .col-3.col-push-3
      .col-3.col-push-3.col-last

    .container.debug
      .col-6.col-push-3

    .container
      .col-12

    .container
      .col-11

    .container
      .col-10
