-@title= 'Grid | Admin Page '
-@page_classes= 'grid'


.container
  .col-1
  .col-1
  .col-1
  .col-1
  .col-1
  .col-1
  .col-1
  .col-1
  .col-1
  .col-1
  .col-1
  .col-1.col-last

.container
  .col-8
  .col-4.col-last

.container
  .col-4
  .col-4
  .col-4.col-last

.container
  .col-6
  .col-6.col-last

.container
  .col-4
  .col-4.col-push-4.col-last

.container
  .col-3.col-push-3
  .col-3.col-push-3.col-last

.container
  .col-6.col-push-3
