-@title= 'Grid | Admin Page '
-@page_classes= 'grid'

.easyui-layout{fit:'true'}
  .easyui-panel{title:'Grid System Live Example', 'data-options':"region:'center', iconCls:'fa fa-align-justify', cls:'panel-primary', collapsible:false"}
    .container.debug
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.mb-10
      .col-1.col-last.mb-10

    .container.debug
      .col-8.mb-20
      .col-4.col-last.mb-20

    .container.debug
      .col-4.mb-20
      .col-4.mb-20
      .col-4.col-last.mb-20

    .container.debug
      .col-6.mb-30
      .col-6.col-last.mb-30

    .container.debug
      .col-4.mb-40
      .col-4.col-push-4.col-last.mb-40

    .container.debug
      .col-3.col-push-3.mb-50
      .col-3.col-push-3.col-last.mb-50

    .container.debug
      .col-6.col-push-3.mb-10

    .container.debug
      .col-12.mb-20

    .container.debug
      .col-11.mb-30

    .container.debug
      .col-10.mb-40

    .container.debug
      .col-5.mb-50

