-@title= 'Label | Admin Page '
-@page_classes= 'label'

.container
  .col-12
    %span.label.label-default Default
    %span.label.label-primary Primary
    %span.label.label-success Success
    %span.label.label-info Info
    %span.label.label-warning Warning
    %span.label.label-danger Danger
