-@title= 'Layout | Admin Page '
-@page_classes= 'layout'

.easyui-layout{'data-options'=>'fit:true'}
  %div{"data-options" => "region:'north', cls:'panel-primary', title:'North'", :style => "height:50px"}
  %div{"data-options" => "region:'south',split:true, cls:'panel-primary', title:'South'", :style => "height:50px;"}
  %div{"data-options" => "region:'east',split:true, cls:'panel-primary'", :style => "width:100px;", :title => "East"}
  %div{"data-options" => "region:'west',split:true, cls:'panel-primary'", :style => "width:100px;", :title => "West"}
  %div{"data-options" => "region:'center',title:'Main Title', cls:'panel-primary'"}


