-@title= 'Number Spinner | Admin Page '
-@page_classes= 'spinner'

.container
  .col-6
    %input.easyui-numberspinner.brand-success{'data-options':"\n onChange: function(value){\n $('#vv').text(value);\n}\n"}
    %small Value:
    %small#vv
