-@title= 'Panel | Admin Page '
-@page_classes= 'panel'

.container.mb-10
  .col-12
    %h1 Css Only Panels
  .col-4
    .panel.panel-default
      .panel-header
        %i.panel-icon.fa.fa-paper-plane
        .panel-title.panel-with-icon
          No Panel Class
      .panel-body
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2
  .col-4
    .panel.panel-primary
      .panel-header
        %i.panel-icon.fa.fa-diamond
        .panel-title.panel-with-icon
          Primary Panel
      .panel-body
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2
  .col-4.col-last
    .panel.panel-info
      .panel-header
        %i.panel-icon.fa.fa-info
        .panel-title.panel-with-icon
          Info Panel
      .panel-body
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2
  %hr.col-12
  .col-4
    .panel.panel-success
      .panel-header
        %i.panel-icon.fa.fa-certificate
        .panel-title.panel-with-icon
          Success Panel
      .panel-body
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2
  .col-4
    .panel.panel-warning
      .panel-header
        %i.panel-icon.fa.fa-warning
        .panel-title.panel-with-icon
          Warning Panel
      .panel-body
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2
  .col-4.col-last
    .panel.panel-danger
      .panel-header
        %i.panel-icon.fa.fa-diamond
        .panel-title.panel-with-icon
          Danger Panel
      .panel-body
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2
  %hr.col-12
  .col-12
    %h1 EasyUI Panels
    .col-6
      .easyui-panel{'data-options': "cls:'panel-primary', iconCls:'fa fa-floppy-o',collapsible:true,minimizable:true,maximizable:true,closable:true, footer:'#footer'", title:'Panel Tools'}
        %p
          =lorem.sentences 3
      #footer
        %small
          =lorem.words 3
  %hr.col-12
