-@title= 'Panel | Admin Page '
-@page_classes= 'panel'


.container.mb-10
  .col-4
    .panel
      .panel-header.panel-header-default
        .panel-icon.fa.fa-paper-plane
        .panel-title.panel-with-icon
          Default Panel
      .panel-body-default
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2

  .col-4
    .panel
      .panel-header.panel-header-primary
        .panel-icon.fa.fa-bell
        .panel-title.panel-with-icon
          Primary Panel
      .panel-body-default
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2

  .col-4.col-last
    .panel
      .panel-header.panel-header-info
        .panel-icon.fa.fa-info
        .panel-title.panel-with-icon
          Info Panel
      .panel-body-default
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2

.container
  .col-4
    .panel
      .panel-header.panel-header-success
        .panel-icon.fa.fa-certificate
        .panel-title.panel-with-icon
          Success Panel
      .panel-body-default
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2

  .col-4
    .panel
      .panel-header.panel-header-warning
        .panel-icon.fa.fa-warning
        .panel-title.panel-with-icon
          Warning Panel
      .panel-body-default
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2

  .col-4.col-last
    .panel
      .panel-header.panel-header-danger
        .panel-icon.fa.fa-diamond
        .panel-title.panel-with-icon
          Danger Panel
      .panel-body-default
        %p
          =lorem.words 10
      .panel-footer
        %small
          =lorem.words 2
