-@title= 'Register | Admin Page '
-@page_classes= 'register'

.easyui-layout{'data-options':'width:450, height:300'}
  %div.easyui-panel{'data-options':"region:'west',title:'Form', cls:'panel-primary', split:false, iconCls:'fa fa-file-text', width:450, collapsible:false, closable:true"}
    %form
      .form-group
        %label Email address
        %input.form-control{placeholder: 'Enter email', type: 'email'}
      .form-group
        %label Password
        %input.form-control{placeholder: 'Password', type: 'password'}
      .form-group
        %button.easyui-linkbutton.color-primary{type:'submit'} Submit
        %button.easyui-linkbutton.color-danger{type:'reset'} Reset

