-@title= 'Schedule | Admin Page '
-@page_classes= 'calendar easyui-layout'

.easyui-layout{fit:'true'}
  .easyui-panel{'data-options':"region:'center', cls:'panel-primary', title:'Schedule', iconCls:'fa fa-calendar', collapsible:false"}
    .col-12
      #schedule

:javascript
  $(document).ready(function() {
    $('#schedule').fullCalendar({
      header: {
        left: 'prev, next, today',
        center: '',
        right:'title'
      },
      defaultDate: '2015-04-17',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: {
        url: 'assets/javascripts/json/scheduleEvents/events.json',
        error: function() {
          console.log('loading error');
        }
      }
      });
  });
