-@title= 'Tabs | Admin Page '
-@page_classes= 'tabs easyui-layout'

.container
  .col-12{style:'min-height:300px'}
    .easyui-layout{fit:'true'}
      .easyui-panel{'data-options':"region:'center'"}
        %h1 Tab Position of Top
        .easyui-tabs{tabHeight:41, tabPosition:'top'}
          %div{title: 'About', 'data-options':"iconCls:'fa fa-life-ring'"}
            %p
              =lorem.paragraphs 3
          %div{title: 'My Documents', 'data-options':"iconCls:'fa fa-pie-chart'"}
            %p
              =lorem.paragraphs 3
          %div{'data-options':"iconCls:'fa fa-info-circle',closable:true", title: 'Help'}
            %p
              =lorem.paragraphs 3
  %hr.col-12
  .col-12{style:'min-height:300px'}
    .easyui-layout{fit:'true'}
      .easyui-panel{'data-options':"region:'center'"}
        %h1 Tab Position of Bottom
        .easyui-tabs{tabHeight:41, tabPosition:'bottom'}
          %div{title: 'About', 'data-options':"iconCls:'fa fa-life-ring'"}
            %p
              =lorem.paragraphs 3
          %div{title: 'My Documents', 'data-options':"iconCls:'fa fa-pie-chart'"}
            %p
              =lorem.paragraphs 3
          %div{'data-options':"iconCls:'fa fa-info-circle',closable:true", title: 'Help'}
            %p
              =lorem.paragraphs 3
  %hr.col-12
  .col-12{style:'min-height:350px'}
    .easyui-layout{fit:'true'}
      .easyui-panel{'data-options':"region:'center'"}
        %h1 Tab Position of Left
        .easyui-tabs{tabHeight:41, tabPosition:'left'}
          %div{title: 'About', 'data-options':"iconCls:'fa fa-life-ring'"}
            %p
              =lorem.paragraphs 3
          %div{title: 'My Documents', 'data-options':"iconCls:'fa fa-pie-chart'"}
            %p
              =lorem.paragraphs 3
          %div{'data-options':"iconCls:'fa fa-info-circle',closable:true", title: 'Help'}
            %p
              =lorem.paragraphs 3
  %hr.col-12
  .col-12{style:'min-height:350px'}
    .easyui-layout{fit:'true'}
      .easyui-panel{'data-options':"region:'center'"}
        %h1 Tab Position of Right
        .easyui-tabs{tabHeight:41, tabPosition:'right'}
          %div{title: 'About', 'data-options':"iconCls:'fa fa-life-ring'"}
            %p
              =lorem.paragraphs 3
          %div{title: 'My Documents', 'data-options':"iconCls:'fa fa-pie-chart'"}
            %p
              =lorem.paragraphs 3
          %div{'data-options':"iconCls:'fa fa-info-circle',closable:true", title: 'Help'}
            %p
              =lorem.paragraphs 3
