-@title= 'Tree | Admin Page '
-@page_classes= 'tree'

.easyui-layout{fit:'true'}
  .easyui-panel{title:'Tree Live Example', 'data-options' => "region:'west', width:420, iconCls:'fa fa-list-ol', headerCls:'panel-header-primary', border:false, collapsible:false"}
    .panel-bg
      .panel-body
        %ul#tt.easyui-tree.bg-white{'data-options' => "url:'assets/javascripts/json/demoData/tree_data1.json',method:'get',animate:true,checkbox:true, lines:true"}
      .panel-footer
        %small Tree folder with by lines
