-@title= 'Tree | Admin Page '
-@page_classes= 'tree'

.easyui-layout{fit:'true'}
  .easyui-panel{title:'Tree Live Example', 'data-options':"region:'west', iconCls:'fa fa-list-ol', width:420, cls:'panel-primary', collapsible:false"}
    %ul.easyui-tree#tt{'data-options':"url:'assets/javascripts/json/demoData/tree_data1.json',method:'get',animate:true,checkbox:true, lines:true"}
    .panel-footer
      %small Tree folder with by lines
