-@title= 'under construction | Admin Page '
-@page_classes= 'page'

.container
  .col-6.col-push-4
    .media
      .media-left
        .media-object-circle
          %i.fa.fa-exclamation-triangle.fa-5x.text-danger
      .media-content
        %h1
          Under Constructor

