-@title= 'Window | Admin Page '
-@page_classes= 'window easyui-layout'


.easyui-layout{:fit => "true"}
  %a.easyui-linkbutton.color-info{:href => "javascript:void(0)", :onclick => "$('#w').window('open')"} Open

.easyui-layout{fit:'true'}
  .easyui-window#w{"data-options" => "iconCls:'fa fa-columns', modal:true, width:450, height:240, minimizable:false, closable:true", title:'Easy UI Window Login'}
    %form.form-horizontal
      .form-group
        %label.col-2.control-label Email
        .col-10.col-last
          %input.easyui-textbox.form-control{placeholder: 'Email', type: 'email', 'data-options' => 'width:330, height:35'}
      .form-group
        %label.col-2.control-label Password
        .col-10.col-last
          %input.easyui-textbox.form-control{placeholder: 'Password', type: 'password', 'data-options' => 'width:330, height:35'}
      .form-group
        .col-push-2.col-10
          .checkbox
            %label
              %input{type: 'checkbox'}
                Remember me
      .form-group
        .col-push-2.col-10
          =link_to 'Sign up', 'javascript:void(0)', class:'easyui-linkbutton color-info text-center',  iconCls: 'fa fa-user-plus'
          =link_to 'Sign in', 'javascript:void(0)', class:'easyui-linkbutton color-primary mr-10 text-center',  iconCls: 'fa fa-sign-in'
