-@title= 'Window | Admin Page '
-@page_classes= 'window easyui-layout'


.easyui-layout{fit:'true'}
  .easyui-window{"data-options" => "iconCls:'fa fa-columns', modal:true, width:600, height:400, minimizable:false, closable:true", title:'Easy UI Window'}
    Window Content
