-@title= 'Window | Admin Page '
-@page_classes= 'window easyui-layout'

.easyui-layout{fit: 'true'}
  %a.easyui-linkbutton.l-btn-primary{onclick: 'qc.demoWindow.openWindow()', iconCls:'fa fa-columns'}
    打开窗口

#qc-window-windowObj
  %form.form-horizontal
    .form-group
      %label.col-2.control-label Email
      .col-10.col-last
        %input.easyui-textbox{'data-options':"prompt:'Email', width:250, height:34, iconCls:'fa fa-user', iconWidth:38", type: 'text'}
    .form-group
      %label.col-2.control-label Password
      .col-10.col-last
        %input.easyui-textbox{'data-options':"prompt:'Password', width:250, height:34, iconCls:'fa fa-lock', iconWidth:38", type: 'password'}
    .form-group
      .col-push-2.col-10
        .checkbox
          %label
            %input.easyui-checkbox{type: 'checkbox'}
            Remember me
    .form-group
      .col-push-2.col-10
        %button.easyui-linkbutton.l-btn-primary{type: 'submit'} Sign in

:javascript
  Namespace.register("qc.demoWindow");
  qc.main.pushWindowId("qc-window-windowObj");
  qc.demoWindow.windowObj = null;
  qc.demoWindow.openWindow = function() {
    if (!qc.demoWindow.windowObj) {
      qc.demoWindow.windowObj = $("#qc-window-windowObj").show().window({
        title: 'Easy UI Window Login',
        iconCls: 'fa fa-columns',
        modal: true,
        width: 450,
        height: 280,
        minimizable: false,
        closable: true
      });
    } else {
      qc.demoWindow.windowObj.window("open");
    }
  };
