-@title= 'Window | Admin Page '
-@page_classes= 'window easyui-layout'

.easyui-layout{fit: 'true'}
  %a.easyui-linkbutton.btn-primary{onclick: 'qc.demoWindow.openWindow()', iconCls:'fa fa-bookmark'} 打开窗口

#qc-window-windowObj
  %form.form-horizontal.mt-20
    .form-group.col-12.mb-20
      %label.col-2.control-label Email
      .col-10.col-last
        %input.easyui-textbox.form-control{'data-options' => 'width:330, height:35', placeholder: 'Email', type: 'email'}
    .form-group.col-12.mb-20
      %label.col-2.control-label Password
      .col-10.col-last
        %input.easyui-textbox.form-control{'data-options' => 'width:330, height:35', placeholder: 'Password', type: 'password'}
    .form-group.col-12.mb-20
      .col-push-2.col-10
        .checkbox
          %label
            %input{type: 'checkbox'}
              Remember me
    .form-group
      .col-push-2.col-10
        %a.easyui-linkbutton.btn-info.text-center{href: 'javascript:void(0)', iconCls:'fa fa-user-plus'} Sign up
        %a.easyui-linkbutton.btn-primary.mr-10.text-center{href: 'javascript:void(0)', iconCls: 'fa fa-sign-in'} Sign in

:javascript
  Namespace.register("qc.demoWindow");
  qc.main.pushWindowId("qc-window-windowObj");
  qc.demoWindow.windowObj = null;
  qc.demoWindow.openWindow = function() {
    if (!qc.demoWindow.windowObj) {
      qc.demoWindow.windowObj = $("#qc-window-windowObj").show().window({
        title: 'Easy UI Window Login',
        iconCls: 'fa fa-columns',
        modal: true,
        width: 450,
        height: 280,
        minimizable: false,
        closable: true
      });
    } else {
      qc.demoWindow.windowObj.window("open");
    }
  };
