/*------------------------------------*
    #TYPOGRAPHY
/*------------------------------------*

p
  margin: 0 0 10px

.text-default
  color: $brand-default
.text-primary
  color: $brand-primary
.text-info
  color: $brand-info
.text-success
  color: $brand-success
.text-warning
  color: $brand-warning
.text-danger
  color: $brand-danger
