=javascript_include_tag '//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js'

// Fallback to loading jQuery from a local path if the CDN is unavailable
:javascript
  (window.jQuery || document.write('<script src="assets/javascripts/vendor/jquery-2.1.3.min.js"><\/script>'));

=javascript_include_tag 'vendor/jquery.easyui.min.js',
                        'main.js',
                        'application.js'