.header{'data-options':"region:'north', split:false, border:false, height:45"}
  .logo
    %span.logo-text 黔驰UI框架
  .user-nav.pull-left
    %ul.list-inline.list-user-info
      %li
        Welcome,
        %strong
          =lorem.name
      %li
        %i.fa.fa-pencil-square
        %strong
          Post:
        =lorem.word
      %li
        %i.fa.fa-sitemap
        %strong
          Role :
        %select.easyui-combobox{'data-options':"width:'120', height:'25'", panelheight: 'auto'}
          %option{value:'manager'} Manager
          %option{value:'developer'} Developer
          %option{value:'designer'} Designer
      %li
        %i.fa.fa-briefcase
        %strong
          Depart. :
        =lorem.word
      %li
        %i.fa.fa-desktop
        %strong
          Ip:
        192.168.1.139

    .navbar-header.pull-right
      %ul.nav.nav-rounded
        %li.notice
          =link_to 'javascript:void(0)', class:'easyui-menubutton', 'data-options':"menu:'#mm1', hasDownArrow:false, plain:false" do
            %i.fa.fa-bell
        %li
          =link_to 'javascript:void(0)', class:'easyui-menubutton', 'data-options':"menu:'#mm2', hasDownArrow:false, plain:false" do
            %i.fa.fa-user
        %li
          =link_to '/pages/login.html' do
            %i.fa.fa-power-off


#mm1{'data-options':' itemHeight:32'}
  %div{'data-options':"iconCls:'fa fa-user-plus'"}
    =link_to '/pages/sign-up.html' do
      New User
  %div{'data-options':"iconCls:'fa fa-inbox'"}
    %span
      E-mail Inbox
    %small.badge.badge-info
      3
  %div{'data-options':"iconCls:'fa fa-warning'"}
    %span
      Dashboard Error
    %small.badge.badge-danger
      1

#mm2{'data-options':' itemHeight:32'}
  %div{'data-options':"iconCls:'fa fa-user'"}
    =link_to 'javascript:void(0)', onclick:"$('#userProfile').dialog('open')" do
      Profile
  %div{'data-options':"iconCls:'fa fa-unlock-alt'"}
    =link_to '/pages/forgotpwd.html' do
      Forget Password
  %div{'data-options':"iconCls:'fa fa-gear'"}
    %span
      Settings

#userProfile
  %form
    .form-group.col-12.text-center
      .border-circle.mt-20
        %i.fa.fa-user.fa-3x.mt-10
    .form-group
      %label User Name
      %input.easyui-textbox{'data-options':"readonly:true, width:320, height:34, iconCls:'fa fa-user', iconWidth:38", type:'text', value:'John Doe'}
    .form-group
      %hr
    .form-group
      %label Old Password
      %input.easyui-textbox{'data-options':"prompt:'Old Password', width:320, height:34, iconCls:'fa fa-lock', iconWidth:38", type: 'password'}
    .form-group
      %label New Password
      %input.easyui-textbox{'data-options':"prompt:'New Password', width:320, height:34, iconCls:'fa fa-lock', iconWidth:38", type: 'password'}
    .form-group
      %label Confirm New Password
      %input.easyui-textbox{'data-options':"prompt:'Confirm New Password', width:320, height:34, iconCls:'fa fa-lock', iconWidth:38", type: 'password'}
    .form-group.mt-20
      .col-6.col-push-3
        %button.easyui-linkbutton.l-btn-warning.pull-right{type: 'submit'}
          %i.fa.fa-times
          Close
        %button.easyui-linkbutton.l-btn-primary.pull-left{type: 'submit'}
          %i.fa.fa-check
          Accept
