=stylesheet_link_tag  'application',
                      'vendor/fontawesome/fontawesome',
                      '//fonts.googleapis.com/css?family=Open+Sans:400,600'

//### You don't need include in your project
=stylesheet_link_tag  'highlighting'
