.header{'data-options' => "region:'north', split:false, border:false, height:45"}
  .logo
    %span.logo-text 黔驰UI框架
  .pull-right.navbar-header
    %ul.nav.nav-rounded
      %li.notice
        =link_to 'javascript:void(0)' do
          %i.fa.fa-bell
      %li
        =link_to 'javascript:void(0)' do
          %i.fa.fa-user
      %li
        =link_to 'javascript:void(0)' do
          %i.fa.fa-search
      %li
        =link_to 'javascript:void(0)' do
          %i.fa.fa-power-off