/*------------------------------------*
    #ACCORDION
/*------------------------------------*

.accordion-header
  margin-bottom: 2px
  cursor: pointer

.accordion-body
  color: inherit

.accordion-collapse
  &::before
    +font-icons(FontAwesome, '\f146', 14px, inherit)

.accordion-expand
  &::before
    +font-icons(FontAwesome, '\f0fe', 14px, inherit)
