/*------------------------------------*
    #ACCORDION
/*------------------------------------*

.accordion-header
  margin-bottom: 2px
  cursor: pointer

.accordion-body
  color: inherit

.accordion-collapse
  width: 30px
  height: 100%
  &::before
    +font-icons(FontAwesome, '\f056', 14px, #fff)

.accordion-expand
  &::before
    +font-icons(FontAwesome, '\f055', 14px, #fff)
