//
// Accordion
// --------------------------------------------------


.accordion
  overflow: hidden
  & .accordion-header
    cursor: pointer
  & .accordion-body
    background-color: #f8f8f8
    padding: 15px
    color: #555

.accordion-default
  & .accordion-header
    background-color: #E0ECFF
  & .accordion-header-selected
    background-color: #ffe48d
    & .panel-title
      color: #000

.accordion-primary
  & .accordion-header
    background-color: $brand-primary
    & .panel-title
      color: #fff
    & .panel-icon
      color: #fff
    & .panel-tool
      color: #fff

.accordion-info
  & .accordion-header
    background-color: $brand-info
    & .panel-title
      color: #fff
    & .panel-icon
      color: #fff
    & .panel-tool
      color: #fff

.accordion-success
  & .accordion-header
    background-color: $brand-success
    & .panel-title
      color: #fff
    & .panel-icon
      color: #fff
    & .panel-tool
      color: #fff

.accordion-warning
  & .accordion-header
    background-color: $brand-warning
    & .panel-title
      color: #fff
    & .panel-icon
      color: #fff
    & .panel-tool
      color: #fff

.accordion-danger
  & .accordion-header
    background-color: $brand-danger
    & .panel-title
      color: #fff
    & .panel-icon
      color: #fff
    & .panel-tool
      color: #fff

.accordion-collapse
  &::before
    +font-icons(FontAwesome, '\f146', 14px, #f8f8f8)

.accordion-expand
  &::before
    +font-icons(FontAwesome, '\f0fe', 14px, #f8f8f8)
