//
// Badge
// --------------------------------------------------

.badge
  display: inline-block
  min-width: 10px
  padding: 3px 7px
  font-size: 12px
  font-weight: 300
  line-height: 1
  color: #fff
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  +border-radius(10px)


.badge-default
  background-color: $brand-default

.badge-primary
  background-color: $brand-primary

.badge-success
  background-color: $brand-success

.badge-info
  background-color: $brand-info

.badge-warning
  background-color: $brand-warning

.badge-danger
  background-color: $brand-danger
