//
// Buttons
// --------------------------------------------------

.btn-jump
  &:hover
    & .l-btn-icon
      +animation(jump 0.4s linear)

.btn-default
  background-color: $brand-default

.btn-primary
  background-color: $brand-primary

.btn-success
  background-color: $brand-success

.btn-info
  background-color: $brand-info

.btn-warning
  background-color: $brand-warning

.btn-danger
  background-color: $brand-danger
