/*------------------------------------*
    #COMBOBOX
/*------------------------------------*

.combobox-item,
.combobox-group
  font-size: 12px
  padding: 8px 0 8px 8px
  +transition(background-color, 0.28s, ease-out)
  &:not(:last-child)
    border-bottom: 1px dotted #ccc

.combobox-item-disabled
  +opacity(0.5)

.combobox-gitem
  padding-left: 10px

.combobox-item-hover
  background-color: lighten($brand-primary, 40%)
  color: #fff
  cursor: pointer

.combobox-item-selected
  background-color: lighten($brand-primary, 20%)
  color: #fff

.easyui-combobox-sm
  font-size: 12px
