//
// Combo
// --------------------------------------------------


.combo
  &.textbox
    & .textbox-text
      +border-top-right-radius(0)
      +border-bottom-right-radius(0)

.combo .combo-text
  padding: 0 2px
  vertical-align: baseline

.combo-arrow
  vertical-align: top
  cursor: pointer
  +opacity(0.6)

.combo-arrow-hover
  +opacity(1)

.combo-panel
  overflow: auto

.combo-arrow
  background-color: #E8E8E8
  +transition(background-color, 0.28s, ease-out)

  &:hover
    background-color: darken(#E8E8E8, 20%)
    +transition(background-color, 0.28s, ease-in)

  &::before
    display: table-cell
    vertical-align: middle
    +font-icons(FontAwesome, '\f107', 14px, #4C4949)

.combo-panel
  background-color: #fff

.combo .textbox-icon-disabled
  &:hover
    cursor: default

