/*------------------------------------*
    #DATEBOX
/*------------------------------------*

.datebox-calendar-inner
  height: 180px

.datebox-button
  text-align: center

.datebox-button a
  +opacity(0.6)

.datebox-current,
.datebox-close
  float: left

.datebox-close
  float: right

.datebox
  & .combo-arrow
    &::before
      display: table-cell
      vertical-align: middle
      +font-icons(FontAwesome, '\f073', $font-size-base, #222)

.datebox-button
  background-color: #F4F4F4

.datebox-button a
  color: #444

