//
// Forms
// --------------------------------------------------

//////
// Basic form styles

.form-group
  &::before
    display: table
    content: ''
    
label
  display: inline-block
  max-width: 100%
  margin-bottom: 5px
  font-weight: 300
  font-size: $font-size-small

//// Merged Class
// Merge with by form-control class

.easyui-textbox
  display: block
  width: 100%
  height: 34px
  padding: $padding-base-vertical $padding-base-horizontal
  background-color: $textbox-bg-color
  font-size: 14px
  color: #555
  line-height: $line-height-base
  border: none
  +border-radius (2px)
  +transition(background-color, 0.28s, ease-out)
  &:focus
    background-color: #d7d7d7
    color: #000
    outline: none
    +transition(background-color, 0.28s, ease-in)

input[type=file]
  display: block

.help-block
  display: block
  margin-top: 5px
  margin-bottom: 10px
  color: #737373
  font-size: $font-size-small

.checkbox,
.radio
  position: relative
  display: block
  margin-top: 10px
  margin-bottom: 10px

//////
// From inline styles

.form-inline
  & .form-group
    +inline-block()
    margin-bottom: 0

.form-inline
  & .easyui-textbox
    +inline-block()
    width: auto

//////
// From horizontal styles

.form-horizontal
  & .control-label
    padding-top: 7px
    margin-bottom: 0
    text-align: right

.form-horizontal .checkbox,
.form-horizontal .radio
  min-height: 27px

.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline
  padding-top: 7px
  margin-top: 0
  margin-bottom: 0


