//
// Forms
// --------------------------------------------------


// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset
  padding: 0
  margin: 0
  border: 0
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  min-width: 0

legend
  display: block
  width: 100%
  padding: 0
  line-height: inherit
  border: 0

label
  display: inline-block
  max-width: 100% // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px
  font-weight: 300

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"]
  +box-sizing(border-box)

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"]
  margin: 4px 0 0
  line-height: normal

// Set the height of file controls to match text inputs
input[type="file"]
  display: block

// Make range inputs behave like textual form controls
input[type="range"]
  display: block
  width: 100%

// Make multiple select elements height not fixed
select[multiple],
select[size]
  height: auto

// Adjust output element
output
  display: block

.form-control

  &[disabled],
  &[readonly],
  fieldset[disabled] &
    opacity: 1 // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655

  &[disabled],
  fieldset[disabled] &
    cursor: not-allowed

// [converter] extracted textarea& to textarea.form-control

// Reset height for `textarea`s
textarea.form-control
  height: auto

input[type="search"]
  -webkit-appearance: none

.form-horizontal
  & .form-control
    float: left
    margin-right: 15px

.form-vertical
  & label
    min-width: 140px
    margin-right: 10px
    text-align: right
    font-size: $font-size-base
  & .form-control
    +inline-block()
    width: 100%
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
