/*------------------------------------*
    #LABEL
/*------------------------------------*

.label
  display: inline
  padding: .2em .6em .3em
  font-size: 75%
  font-weight: bold
  line-height: 1
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: .25em

  // [converter] extracted a& to a.label

  // Empty labels collapse automatically (not available in IE8)
  &:empty
    display: none

.theme-default
  & .label
    color: #fff

.theme-material
  & .label-default
    color: #666
  & .label-primary,
  & .label-info,
  & .label-success,
  & .label-warning,
  & .label-danger
    color: #fff

// Add hover effects, but only for links
a.label
  &:hover,
  &:focus
    color: #d7d7d7
    cursor: pointer






