/*------------------------------------*
    #LAYOUT
/*------------------------------------*

.layout
  position: relative
  overflow: hidden
  z-index: 0

////
// Position absolute only for layout
// Issue #22 (https://bitbucket.org/coskuntekin/admin-template-easyui/issue/22/design-the-accordion-panel-and-remove-its)

.layout-panel
  position: absolute
  overflow: hidden

.layout-panel-east,
.layout-panel-west
  z-index: 2

.layout-panel-north,
.layout-panel-south
  z-index: 3

.layout-expand .panel-header,
.layout-expand .panel-body
  overflow: hidden

.layout-expand
  position: absolute
  cursor: pointer
  z-index: 1
  background-color: #D7D7D7
  +transition(opacity, 0.28s, ease-out)

.layout-expand-over
  background-color: lighten(#D7D7D7, 20%)
  +transition(opacity, 0.28s, ease-in)

.layout-split-proxy-h,
.layout-split-proxy-v
  position: absolute
  display: none
  font-size: 1px
  z-index: 5

.layout-split-proxy-h
  width: 5px
  cursor: e-resize

.layout-split-proxy-v
  height: 5px
  cursor: n-resize

.layout-mask
  position: absolute
  background: #fafafa
  +opacity(0.10)
  z-index: 4

.layout-button-up
  &::before
    +font-icons(FontAwesome, '\f106', 14px, #000)

.layout-button-down
  &::before
    +font-icons(FontAwesome, '\f107', 14px, #000)

.layout-button-left
  &::before
    +font-icons(FontAwesome, '\f03b', 14px, #d7d7d7)
    +transition(color, 0.28s, ease-out)

  &:hover::before
    color: darken(#d7d7d7, 10%)
    +transition(color, 0.28s, ease-in)

.layout-button-right
  &::before
    +font-icons(FontAwesome, '\f03c', 14px, #414E5A)
    +transition(color, 0.28s, ease-out)

  &:hover::before
    color: darken(#414E5A, 10%)
    +transition(color, 0.28s, ease-in)

.layout-split-proxy-h,
.layout-split-proxy-v
  background-color: #aac5e7
