/*------------------------------------*
    #LINK BUTTON
/*------------------------------------*

.l-btn
  +inline-block()
  padding: 8px 12px
  border: 1px solid transparent
  background-image: none
  cursor: pointer
  font-size: 12px
  +border-radius(2px)
  text-align: center
  white-space: nowrap
  color: #fff
  &:hover,
  &:active,
  &:focus
    color: darken(#fff, 10%)
    +box-shadow(0 1px 6px 0 rgba(0,0,0,.20), 0 1px 6px 0 rgba(0,0,0,.20))

.l-btn-left
  position: relative

.l-btn-text
  +inline-block()

.l-btn-icon
  position: absolute
  top: 50%
  margin-top: -6px

.l-btn-icon-top
  text-align: center

.l-btn-icon-left .l-btn-text
  margin: 0 4px 0 16px

.l-btn-icon-left .l-btn-icon
  left: 0

.l-btn-icon-right .l-btn-text
  margin: 0 16px 0 4px

.l-btn-icon-right .l-btn-icon
  right: -6px

.l-btn-icon-top .l-btn-text
  margin: 20px 4px 0 4px

.l-btn-icon-top .l-btn-icon
  top: 4px
  left: 57%
  margin: -10px 0 0 -8px

.l-btn-icon-bottom .l-btn-text
  margin: 0 4px 20px 4px

.l-btn-icon-bottom .l-btn-icon
  top: auto
  bottom: 4px
  left: 56%
  margin: 0 0 -15px -8px

.l-btn-left .l-btn-empty
  width: 16px
  margin: 0 4px

.l-btn-focus
  outline: #d7d7d7 dotted thin

.l-btn-large .l-btn-icon
  margin-top: -16px

.l-btn-large .l-btn-icon-left .l-btn-text
  margin-left: 40px

.l-btn-large .l-btn-icon-right .l-btn-text
  margin-right: 40px

.l-btn-large .l-btn-icon-top .l-btn-text
  margin-top: 36px
  line-height: 24px
  min-width: 32px

.l-btn-large .l-btn-icon-top .l-btn-icon
  margin: -20px 0 0 -16px

.l-btn-large .l-btn-icon-bottom .l-btn-text
  margin-bottom: 36px
  line-height: 24px
  min-width: 32px

.l-btn-large .l-btn-icon-bottom .l-btn-icon
  margin: 0 0 0 -16px

.l-btn-large .l-btn-left .l-btn-empty
  margin: 0 4px
  width: 32px

.l-btn-outline
  padding: 0

.l-btn-disabled
  +opacity(0.2)
  cursor: not-allowed
  &:hover
    +box-shadow(none)

.l-btn-disabled .l-btn-text,
.l-btn-disabled .l-btn-icon
  background-color: transparent

.l-btn-plain-disabled
  +opacity(0.2)
  background-color: transparent
  cursor: not-allowed
  &:hover
    +box-shadow(none)

.l-btn-default
  background-color: $brand-default

.l-btn-primary
  background-color: $brand-primary

.l-btn-success
  background-color: $brand-success

.l-btn-info
  background-color: $brand-info

.l-btn-warning
  background-color: $brand-warning

.l-btn-danger
  background-color: $brand-danger

//Material Theme Colors

.l-btn-default
  background-color: $brand-material-default

.l-btn-primary
  background-color: $brand-material-primary

.l-btn-success
  background-color: $brand-material-success

.l-btn-info
  background-color: $brand-material-info

.l-btn-warning
  background-color: $brand-material-warning

.l-btn-danger
  background-color: $brand-material-danger

