//
// Menu
// --------------------------------------------------


.menu
  position: absolute
  +border-radius(2px)
  +box-shadow (0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19))

.menu-inline
  position: relative

.menu-item
  position: relative
  cursor: pointer
  +transition(background-color, 0.28s, ease-out)

.menu-text
  float: left
  padding-left: 28px
  font-size: $font-size-base

.menu-icon
  position: absolute
  top: 50%
  left: 5px
  margin-top: -8px

.menu-rightarrow
  position: absolute
  width: 16px
  height: 16px
  right: 0
  top: 50%
  margin-top: -8px

.menu-line
  position: absolute
  top: 0
  left: 25px

.menu-sep
  margin: 3px 0 3px 25px
  font-size: 1px

.menu-noline .menu-line
  display: none

.menu-noline .menu-sep
  margin-left: 0
  margin-right: 0

.menu-item-disabled
  +opacity (0.5)
  cursor: default

.menu-shadow
  position: absolute
  +border-radius (2px)
  background-color: #ccc

.menu-rightarrow
  &::before
    +font-icons(FontAwesome, '\f0da', inherit, #000)

.menu-line
  border-left: 1px solid #d7d7d7

.menu-sep
  border-bottom: 1px solid #d7d7d7

.menu
  background-color: #fafafa
  border-color: #ddd
  color: #444

.menu-content
  background-color: #fff

.menu-active
  color: #fff
  background-color: #D7D7D7
  +transition(background-color, 0.28s, ease-in)

.menu-active-disabled
  background-color: transparent
  color: #444
