/*------------------------------------*
    #MESSAGER
/*------------------------------------*

.messager-body
  display: table-cell
  vertical-align: middle
  overflow: hidden
  +box-shadow (inset 0 1px 2px rgba(0,0,0,.1))
  border:
    right: 2px solid rgba(0,0,0,.1)
    bottom: 2px solid rgba(0,0,0,.1)
    left: 2px solid rgba(0,0,0,.1)

.messager-button
  margin-top: 45px
  text-align: center
  & .l-btn-small
    width: 60px
    @extend .l-btn-default

.messager-icon
  float: left
  margin: -3px 10px 10px 0

.messager-error
  &::before
    +font-icons(FontAwesome, '\f06a', 20px, $brand-danger)

.messager-info
  &::before
    +font-icons(FontAwesome, '\f05a', 20px, $brand-info)

.messager-question
  &::before
    +font-icons(FontAwesome, '\f059', 20px, $brand-primary)

.messager-warning
  &::before
    +font-icons(FontAwesome, '\f071', 20px, $brand-warning)

.messager-progress
  padding: 10px

.messager-p-msg
  margin-bottom: 5px

.messager-body .messager-input
  width: 100%
  padding: 1px 0

.window
  &.message-default
    +border-radius(0)

.message-body-primary
  background-color: $brand-primary
  color: #fff

.message-body-info
  background-color: $brand-info
  color: #fff

.message-body-success
  background-color: $brand-success
  color: #fff

.message-body-warning
  background-color: $brand-warning
  color: #fff

.message-body-danger
  background-color: $brand-danger
  color: #fff

.message-close
  position: absolute
  top: 15px
  right: 15px
  float: right
  color: #fff
