//
// Messages
// --------------------------------------------------


.messager-window
  & .window-header
    border-bottom: 1px dotted #d7d7d7
    padding-left: 10px
    padding-right: 10px

.messager-body
  display: table-cell
  vertical-align: middle
  overflow: hidden

.messager-button
  margin-top: 45px
  text-align: center
  & .l-btn
    width: 60px
    @extend .color-default

.messager-icon
  float: left
  margin: 0 10px 10px 0

.messager-error
  &::before
    +font-icons(FontAwesome, '\f06a', 20px, $brand-danger)

.messager-info
  &::before
    +font-icons(FontAwesome, '\f05a', 20px, $brand-info)

.messager-question
  &::before
    +font-icons(FontAwesome, '\f059', 20px, $brand-primary)

.messager-warning
  &::before
    +font-icons(FontAwesome, '\f071', 20px, $brand-warning)

.messager-progress
  padding: 10px

.messager-p-msg
  margin-bottom: 5px

.messager-body .messager-input
  width: 100%
  padding: 1px 0

.window
  &.message-default
    +border-radius(0)

.message-body-primary
  background-color: $brand-primary
  color: #fff

.message-body-info
  background-color: $brand-info
  color: #fff

.message-body-success
  background-color: $brand-success
  color: #fff

.message-body-warning
  background-color: $brand-warning
  color: #fff

.message-body-danger
  background-color: $brand-danger
  color: #fff

.message-close
  position: absolute
  top: 15px
  right: 15px
  float: right
  color: #fff
