//
// Text Box
// --------------------------------------------------


.textbox
  position: relative
  +inline-block()

.textbox .textbox-text
  padding: $padding-small-vertical $padding-small-horizontal
  vertical-align: middle
  background-color: $textbox-bg-color
  border: none
  +border-radius (2px)
  +transition(background-color, 0.28s, ease-out)
  font-size: $font-size-base
  font-weight: 300

  &:focus
    background-color: #d7d7d7
    color: #000
    +transition(background-color, 0.28s, ease-in)
    outline: none
    &::-webkit-input-placeholder
      color: #BDBCBC
    &::-moz-placeholder
      color: #BDBCBC
    &:-ms-input-placeholder
      color: #BDBCBC

.textbox .textbox-prompt
  color: #BDBCBC

.textbox .textbox-button,
.textbox .textbox-button:hover
  position: absolute
  top: 0
  padding: 0
  vertical-align: middle
  +border-radius (0)

.textbox-button-right,
.textbox-button-right:hover
  border: 1px solid #22beef

.textbox-button-left,
.textbox-button-left:hover
  border-bottom: 1px solid #22beef

.textbox-addon
  position: absolute
  top: 0

.textbox-icon
  display: table
  text-align: center
  color: #c0c0c0

.textbox-icon-disabled,
.textbox-icon-readonly
  cursor: default

//TODO
  inputs invalid styles have to coding (.textbox-invalid)

