//
// Text Box
// --------------------------------------------------


.textbox
  position: relative
  +inline-block()
  background-color: #fff
  white-space: nowrap
  +border-radius(2px)
  font-weight: 300

.textbox .textbox-text
  padding: $padding-base-vertical $padding-base-horizontal
  white-space: normal
  vertical-align: middle
  +border-radius (2px)
  border: 1px solid transparent
  background-color: #F9F9F9
  +transition(border-color, 0.28s, ease-out)

  &:focus
    border: 1px solid #22beef
    +transition(border-color, 0.28s, ease-in)
    outline: none

.textbox .textbox-prompt
  color: #d7d7d7

.textbox .textbox-button,
.textbox .textbox-button:hover
  position: absolute
  top: 0
  padding: 0
  vertical-align: middle
  +border-radius (0)

.textbox-button-right,
.textbox-button-right:hover
  border: 1px solid #22beef

.textbox-button-left,
.textbox-button-left:hover
  border-bottom: 1px solid #22beef

.textbox-addon
  position: absolute
  top: 0

.textbox-icon
  display: table
  text-align: center
  color: #c0c0c0

.textbox-icon-disabled,
.textbox-icon-readonly
  cursor: default

.textbox-invalid
  background-color: #fff3f3