/*------------------------------------*
    #WINDOW
/*------------------------------------*

.window
  position: absolute

.window-body
  background-color: #f7f7f7
  padding: $padding-large-vertical $padding-large-horizontal
  font-size: $font-size-base
  word-break: break-all

.window-proxy
  position: absolute
  overflow: hidden

.window-proxy-mask
  position: absolute
  +opacity (0.5)

.window-mask
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

.window-shadow
  position: absolute

.window-mask
  background-color: rgba(47, 47, 47, 0.69)




