/*------------------------------------*
    #MATERAIL THEME
/*------------------------------------*

.theme-material

  .dropdown-menu
    background-color: $brand-material-primary

  .btn-dropdown
    background-color: darken($brand-material-primary, 10%)

  .nav-subpages
    & > li
      & > a
        +inline-block()
        background-color: $brand-material-primary

  .header
    background-color: $header-material-bg
  .logo
    background-color: $logo-material-bg
  .sidebar-header
    background-color:  $sidebar-material-header-bg
  .sidebar
    background-color: $sidebar-material-body-bg
  .sidebar-nav
    background-color: $sidebar-material-body-in-bg
  .tabs-header
    background-color: $tabs-material-header-bg
  .tabs-selected
    & .tabs-inner
      background-color: $tabs-material-selected-bg
      color: $tabs-material-selected-color
  .tabs-inner
    color: $header-material-bg
    &::before
      background-color: $tabs-material-link-color

  // ###
  //Sidebar declarations

  & .sidebar
    & .tree-icon,
    & .tree-title
      color: $sidebar-material-title-color
    & .tree-node-hover,
    & .tree-node-selected
      background-color: lighten($sidebar-material-body-bg, 8%)
      & .tree-icon,
      & .tree-title
        color: darken($sidebar-material-title-color, 90%)
    & .tree-collapsed,
    & .tree-expanded
      &::before
        +font-icons(FontAwesome, '\f104', inherit, #fff)

  // ###
  //Badge declarations

  .badge-default
    background-color: $brand-material-default

  .badge-primary
    background-color: $brand-material-primary

  .badge-success
    background-color: $brand-material-success

  .badge-info
    background-color: $brand-material-info

  .badge-warning
    background-color: $brand-material-warning

  .badge-danger
    background-color: $brand-material-danger

  // ###
  //Button declarations

  .l-btn-default
    background-color: $brand-material-default

  .l-btn-primary
    background-color: $brand-material-primary

  .l-btn-success
    background-color: $brand-material-success

  .l-btn-info
    background-color: $brand-material-info

  .l-btn-warning
    background-color: $brand-material-warning

  .l-btn-danger
    background-color: $brand-material-danger

  // ###
  //Panel declarations

  .panel-default
    +panel-variant($panel-header-bg: $brand-material-default)

  .panel-primary
    +panel-variant($panel-header-bg: $brand-material-primary)

  .panel-info
    +panel-variant($panel-header-bg: $brand-material-info)

  .panel-success
    +panel-variant($panel-header-bg: $brand-material-success)

  .panel-warning
    +panel-variant($panel-header-bg: $brand-material-warning)

  .panel-danger
    +panel-variant($panel-header-bg: $brand-material-danger)

  // ###
  //Label declarations

  .label-default
    +label-variant($brand-material-default)

  .label-primary
    +label-variant($brand-material-primary)

  .label-success
    +label-variant($brand-material-success)

  .label-info
    +label-variant($brand-material-info)

  .label-warning
    +label-variant($brand-material-warning)

  .label-danger
    +label-variant($brand-material-danger)
